<div class="cart-promo">
  <div style="text-align: center;">
  <input placeholder="Discount code" class="field__input" style="height: 35px; width:70%" id="ajaxdevPromo" data-discount-field="true" autocomplete="off" aria-required="true" size="30" type="text" name="discount">
  <button class="ajaxcart-discount-id button add_to_cart apply___discount ">
    Apply
  </button>

  <button  class="ajaxloader_button add_to_cart apply___discount button d-none  ">
    <span  class="ajaxloader spinner-border spinner-border-sm"></span>

  </button>
    
  </div>
  <div class="ajaxalert-message" ></div>
  <div class="ajaxdiscount-message" style ="margin-left:37px;"></div>
  <h4>
    <div  class="ajaxmain_discount_content d-none " style="margin-top: 0.8rem; color: black">
      <div>
        <span style="margin-right: 10px"> SubTotal </span> <span class="ajaxsubtotal" style="  text-decoration-line: line-through; float: right"></span>
      </div>
      <div>
        <span style="margin-right: 10px"> Discount </span> <span class="ajaxdiscountpercent" style="  float: right"></span>
      </div>
      <div>
        <b><span style="margin-right: 10px"> Total </span> <span class="ajaxtotal" style="float: right"></span></b>
      </div>

    </div>
  </h4>
</div>