

<div class="cart-promo">
  
    <input placeholder="Discount code" class="field__input" style="height: 35px;" id="devPromo" data-discount-field="true" autocomplete="off" aria-required="true" size="30" type="text" name="discount">
    <button id="cart-discount-id" class="button add_to_cart apply___discount ">
          Apply
 	 </button>
  
    <button id="loader_button" class="add_to_cart apply___discount button d-none  ">
      <span id="loader" class="spinner-border spinner-border-sm"></span>
      
  	</button>
    <div id="alert-message"></div>
  	<div id="discount-message"></div>
   <h4>
    <div id="main_discount_content" class="d-none " style="margin-top: 0.8rem; color: black">
      <div>
        <span style="margin-right: 10px"> SubTotal </span> <span id="subtotal" style="  text-decoration-line: line-through; float: right"></span>
      </div>
      <div>
        <span style="margin-right: 10px"> Discount </span> <span id="discountpercent" style="  float: right"></span>
      </div>
      <div>
        <b><span style="margin-right: 10px"> Total </span> <span id="total" style="float: right"></span></b>
      </div>

    </div>
  </h4>
 </div>